
body {
    background-color: #000A0E;
    color: white;
  }
  .custom-table {
    border-collapse: separate;
    border-spacing: 10px;
    width: 100%;
    text-align: center;
  }

  /* Style the table cells as squares with centered text */
  .custom-table td {
    background-color: #00141E;
    width: 50px;
    height: 50px;
    vertical-align: middle;
    color: white;
    font-size: 15px;
  }

  /* Set the border radius for rounded corners */
  .custom-table td:first-child {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
  }

  .custom-table td:last-child {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
  }
  .custom-table td:hover {
    background-color: #0F2D37; /* Change the background color on hover */
  }
  .accordion-item {
    background-color: #000A0E;
  }
  .accordion-button {
    background-color: #00070a !important; /* Background color */
    color: white !important; /* Text color */
    border: none; /* Remove border */
  }
  .accordion-button.collapsed {
    background-color: #000A0E;
    color: #fff;
  }