/* General Styles */
body {
    font-family: "Quicksand", sans-serif;
    background-color: #fff;
    position: relative;
    color: #fff;
  }
  
  /* Background Overlay for Offcanvas Menu */
  body:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    transition: .3s all ease;
    opacity: 0;
    visibility: hidden;
    z-index: 1;
  }
  
  body.offcanvas-menu:before {
    opacity: 1;
    z-index: 1002;
    visibility: visible;
  }
  
  /* Scrollbar Styles (Webkit and Firefox) */
  body::-webkit-scrollbar,
  div::-webkit-scrollbar {
    width: 10px;
  }
  
  body::-webkit-scrollbar-thumb,
  div::-webkit-scrollbar-thumb {
    background-color: #f0f0f0;
  }
  
  body::-webkit-scrollbar-track,
  div::-webkit-scrollbar-track {
    background-color: #00141e;
  }
  
  body {
    scrollbar-width: thin;
    scrollbar-color: #888 #f0f0f0;
    background-color: #000A0E;
  }
  
  /* Table Styles */
  td {
    padding: 10px;
    transition: background-color 0.3s ease;
  }
  
  td:hover {
    background-color: #0F2D37;
    cursor: pointer;
  }
  
  /* Card Styles */
  .card {
    background-color: #8da3aa;
  }
  
  .card .card-body {
    background-color: #0F2D37;
  }
  
  /* Paragraph Styles */
  p {
    color: #b3b3b3;
    font-weight: 300;
  }
  
  /* Link Styles */
  ul li a._link {
    color: white;
    text-decoration: none;
    transition: color 0.3s;
  }
  
  ul li a._link:hover {
    color: blue;
  }
  
  /* Heading Styles */
  h1, h2, h3, h4, h5, h6,
  .h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: "Quicksand", sans-serif;
  }
  
  /* Anchor Styles */
  a {
    transition: .3s all ease;
  }
  
  a, a:hover {
    text-decoration: none !important;
  }
  
  /* List Styles */
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  /* Navbar Styles */
  .navbar-bg {
    background-color: #00141e;
  }
  
  .navbar-nav .nav-link {
    color: #dddddd;
  }
  
  .navbar-nav .nav-link:hover {
    color: #fff;
  }
  
  /* Button Styles */
  .btn:after, .btn:before {
    display: none;
  }
  
  .btn:hover, .btn:focus, .btn:active {
    outline: none;
    box-shadow: none !important;
  }
  
  .btn.btn-primary {
    color: #fff;
    background: #89ba16;
    border-color: #89ba16;
  }
  
  .btn.btn-primary:hover {
    background: #90c317;
    border-color: #90c317;
  }
  
  .btn.btn-outline-white {
    background: transparent;
    border-width: 2px;
    border-color: #fff;
    color: #fff;
  }
  
  .btn.btn-outline-white:hover {
    background: #fff;
    color: #000;
  }
  
  .btn.btn-outline-primary {
    color: #89ba16;
  }
  
  .btn.btn-outline-primary:hover {
    color: #fff;
    background: #89ba16;
  }
  
  .modal-content {
    background-color: #0F2D37;
    color: #fff;
  }

  .form-control {
    background-color: #2a4b57;
  }

  .close {
    text-shadow: none;
  }

  .forgot-pass a {
    color: #c9c9c9;
  }

  .forgot-pass a:hover {
    color: #fff;
  }

  body {
    background-color: #000A0E;
    color: aliceblue;
  }
  .card-img-top {
    background-color: #000A0E;
  }
  .list-group-item {
    background-color: #000A0E;
  }
  .list-group a {
    color: #d6d6d6;
  }
  .list-group a:hover {
    color: #fff;
  }

  .card-category {
    max-width: 300px;
  }

  .footer {
    background-color: #00141e;
  }

  .footer a {
    color: #d6d6d6;
  }
  .footer a:hover {
    color: #fff;
  }

  .navbar-login {
    align-items: right;
  }

  .navbar-center {
    align-items: center;
  }

